@page
@model Programacion61.Pages.Cliente.GridModel
@{
    ViewData["Title"] = "Clientes";
}


<div class="container-fluid">
    <div class="card">
        <br />
        <div class="card-header">Clientes</div>
        <div class="card-body">

            @*Add Button*@
            <a class="btn btn-primary" asp-page="Edit">
                <i class="bx bxs-add-to-queue"></i>
            </a>

            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table table-stripped table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Primer Apellido</th>
                                <th>Segundo Apellido</th>
                                <th>Direccion</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Nu. Telefono</th>
                                <th>Cedula</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GridList)
                            {
                            <tr>
                                <td>@item.IdCliente</td>
                                <td>@item.NombreCliente</td>
                                <td>@item.PrimerApellidoCliente</td>
                                <td>@item.SegundoApellidoCliente</td>
                                <td>@item.DireccionCliente</td>
                                <td>@item.FechaDeNacimientoCliente.ToString("dd/MM/yyyy")</td>
                                <td>@item.TelefonoCliente</td>
                                <td>@item.CedulaCliente</td>
                                <td>
                                    @*Edit Button*@
                                    <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.IdCliente">
                                        <i class="bx bx-edit-alt"></i>
                                    </a>

                                    @*Delete Button*@
                                    <button type="button" class="btn btn-danger" onclick="ClienteGrid.OnClickDelete(@item.IdCliente)">
                                        <i class="bx bx-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script defer src="~/App/Cliente/Grid.js"></script>
}