@page
@model Programacion61.Pages.Usuario.GridModel
@{
    ViewData["Title"] = "Usuarios";
}

<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            Usuario
        </div>
        <div class="card-body">

            <a class="btn btn-primary" asp-page="Edit">
                <i class='bx bxs-add-to-queue'></i>
            </a>

            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table table-striped table table-hover">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Rol</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tboby>
                            @foreach (var item in Model.GridList)
                            {
                                <tr>
                                    <td>@item.Usuario</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.Rol_Description</td>
                                    <td>@(item.Estado?"Activo":"Inactivo")</td>
                                    <td>
                                        <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.Usuario"><i class='bx bx-edit-alt'></i></a>

                                        <button type="button" class="btn btn-danger" onclick="UsuarioGrid.OnClickEliminar(@item.Usuario)">
                                            <i class='bx bx-trash'></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tboby>
                    </table>

                </div>
            </div>



        </div>
    </div>


</div>

@section Scripts{

    <script defer src="~/App/Usuario/Grid.js"></script>
}